In this notebook, we Read the Final Merged_tidy csv file which is the movies(2010-2021) from 
The Numbers which has been merged with imdbtitlebasics on movie name to attach the tconst 

For each tconst do imdb_api call and store as Movie Object
We export all movies as a json file.

Results: we have the numbers movies with full Movie objects from IMDB.

In [207]:
import pandas as pd
import imdb_api as ia
import time
import json
from json import JSONEncoder
from imdb_api import Movie
from io import StringIO

In [237]:
moviesjsonfile = './data/imdb_movies.json'

In [ ]:
nb_df = pd.read_csv('./data/final_merged_tidy.csv', encoding='utf-8', index_col=False)

In [227]:
# A specialised JSONEncoder that encodes Movie
# objects as JSON
class MovieEncoder(JSONEncoder):

    def default(self, object):

        if isinstance(object, Movie):
            return object.__dict__
        else:
            # call base class implementation which takes care of
            # raising exceptions for unsupported types
            return json.JSONEncoder.default(self, object)

In [228]:
#RUNS in 17 MINS for 3000 movies
#collect IMDB movie objects isung imdb_api
def collect_imdb_movies():
    counter = 0
    movies = []
    for id in nb_df.tconst:

        print(counter,id)
        movies.append(ia.search_by_id(id))
        counter +=1
        if counter%10 == 0:
            time.sleep(1)
    return movies

In [238]:
#list of MOVIE objects to json file
def movies_to_jsonfile(movies):
    movie_df = pd.DataFrame()
    for movie in movies:
        ## Use the MovieEncoder to decode a Movie object
        jsn = pd.read_json(StringIO(MovieEncoder().encode(movie)),
                           typ='series', encoding='utf-8')
        fr = jsn.to_frame()
        movie_df = movie_df.append(fr.T, ignore_index=True)
    movie_df.to_json(moviesjsonfile)

In [239]:
def load_jsonfile_todf():
    with open(moviesjsonfile) as f:
        #load json to dict to createDF
        json_df = pd.DataFrame(json.load(f))
    return json_df

In [240]:
movies_to_jsonfile(movies)

In [241]:
imdbmoviesdf = load_jsonfile_todf()
imdbmoviesdf.ratings[0][0]['Value']

'7.7/10'

In [245]:
imdbmoviesdf.columns

Index(['mid', 'title', 'year', 'rated', 'released', 'runtime', 'genre',
       'director', 'writer', 'actors', 'plot', 'language', 'country', 'awards',
       'poster', 'ratings', 'metascore', 'imdbrating', 'imdbvotes', 'type',
       'dvd', 'boxoffice', 'production', 'website', 'myrating'],
      dtype='object')

In [253]:
imdbmoviesdf

,mid,title,year,rated,released,runtime,genre,director,writer,actors,...,ratings,metascore,imdbrating,imdbvotes,type,dvd,boxoffice,production,website,myrating
0,tt1979376,Toy Story 4,2019,G,21 Jun 2019,100 min,"Animation, Adventure, Comedy",Josh Cooley,"John Lasseter, Andrew Stanton, Josh Cooley","Tom Hanks, Tim Allen, Annie Potts",...,"[{'Source': 'Internet Movie Database', 'Value'...",84,7.7,"216,575",movie,01 Oct 2019,"$434,038,008",Pixar Animation Studios,N/A,0.0
1,tt0435761,Toy Story 3,2010,G,18 Jun 2010,103 min,"Animation, Adventure, Comedy",Lee Unkrich,"John Lasseter, Andrew Stanton, Lee Unkrich","Tom Hanks, Tim Allen, Joan Cusack",...,"[{'Source': 'Internet Movie Database', 'Value'...",92,8.2,"775,780",movie,23 Nov 2015,"$415,004,880","Pixar Animation Studios, Walt Disney Animation",N/A,0.0
2,tt1453405,Monsters University,2013,G,21 Jun 2013,104 min,"Animation, Adventure, Comedy",Dan Scanlon,"Dan Scanlon, Daniel Gerson, Robert L. Baird","Billy Crystal, John Goodman, Steve Buscemi",...,"[{'Source': 'Internet Movie Database', 'Value'...",65,7.2,"332,333",movie,31 Aug 2016,"$268,492,764",Pixar Animation Studios,N/A,0.0
3,tt1216475,Cars 2,2011,G,24 Jun 2011,106 min,"Animation, Adventure, Comedy","John Lasseter, Bradford Lewis","John Lasseter, Bradford Lewis, Dan Fogelman","Owen Wilson, Larry the Cable Guy, Michael Caine",...,"[{'Source': 'Internet Movie Database', 'Value'...",57,6.1,"169,308",movie,23 Nov 2015,"$191,452,396","Walt Disney Studios, Pixar Animation Studios",N/A,0.0
4,tt3606752,Cars 3,2017,G,16 Jun 2017,102 min,"Animation, Adventure, Comedy",Brian Fee,"Brian Fee, Ben Queen, Eyal Podell","Owen Wilson, Cristela Alonzo, Chris Cooper",...,"[{'Source': 'Internet Movie Database', 'Value'...",59,6.7,"82,281",movie,10 Jul 2017,"$152,901,115","Walt Disney Pictures, Pixar Animation Studios",N/A,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2624,tt10016180,The Little Things,2021,R,29 Jan 2021,128 min,"Crime, Drama, Mystery",John Lee Hancock,John Lee Hancock,"Denzel Washington, Rami Malek, Jared Leto",...,"[{'Source': 'Internet Movie Database', 'Value'...",54,6.3,"70,365",movie,29 Jan 2021,"$15,244,012","Gran Via, Warner Bros.",N/A,0.0
2625,tt9784798,Judas and the Black Messiah,2021,R,12 Feb 2021,126 min,"Biography, Drama, History",Shaka King,"Will Berson, Shaka King, Kenneth Lucas","Daniel Kaluuya, LaKeith Stanfield, Jesse Plemons",...,"[{'Source': 'Internet Movie Database', 'Value'...",85,7.5,"54,706",movie,12 Feb 2021,"$5,446,607","Bron Studios, Participant Media, MACRO",N/A,0.0
2626,tt9770150,Nomadland,2020,R,19 Feb 2021,107 min,Drama,Chloé Zhao,"Chloé Zhao, Jessica Bruder","Frances McDormand, David Strathairn, Linda May",...,"[{'Source': 'Internet Movie Database', 'Value'...",93,7.4,"113,915",movie,19 Feb 2021,"$2,143,000","Cor Cordium Productions, Highwayman Films, Hea...",N/A,0.0
2627,tt7826276,Profile,2018,R,14 May 2021,106 min,"Mystery, Thriller",Timur Bekmambetov,"Britt Poulton, Olga Kharina, Timur Bekmambetov","Valene Kane, Morgan Watkins, Christine Adams",...,"[{'Source': 'Internet Movie Database', 'Value'...",54,6.8,"1,516",movie,N/A,"$1,744,740","Bazelevs Entertainment, TABBAK",N/A,0.0
2628,tt9608818,Our Friend,2019,R,29 Jan 2021,124 min,"Drama, Romance",Gabriela Cowperthwaite,"Brad Ingelsby, Matthew Teague","Jason Segel, Isabella Kai, Violet McGraw",...,"[{'Source': 'Internet Movie Database', 'Value'...",57,7.3,"6,788",movie,22 Jan 2021,"$663,725","Black Bear Pictures, Scott Free Productions, S...",N/A,0.0

In [254]:
nb_df

,Released,ReleasedWorldwide,Title,TheatricalDistributor,Genre,Source,ProductionMethod,CreativeType,ProductionBudget,Opening WeekendTheaters,...,WorldwideBox Office,TitleLower,tconst,titleType,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,primaryTitleLower
0,2019,2019,Toy Story 4,Walt Disney,Adventure,Original Screenplay,Digital Animation,Kids Fiction,200000000.0,4575.0,...,1.073080e+09,toy story 4,tt1979376,movie,Toy Story 4,Toy Story 4,2019.0,\N,100,toy story 4
1,2010,2010,Toy Story 3,Walt Disney,Adventure,Original Screenplay,Digital Animation,Kids Fiction,200000000.0,4028.0,...,1.068880e+09,toy story 3,tt0435761,movie,Toy Story 3,Toy Story 3,2010.0,\N,103,toy story 3
2,2013,2013,Monsters University,Walt Disney,Adventure,Original Screenplay,Digital Animation,Kids Fiction,200000000.0,4004.0,...,7.434558e+08,monsters university,tt1453405,movie,Monsters University,Monsters University,2013.0,\N,104,monsters university
3,2011,2011,Cars 2,Walt Disney,Adventure,Original Screenplay,Digital Animation,Kids Fiction,200000000.0,4115.0,...,5.601554e+08,cars 2,tt1216475,movie,Cars 2,Cars 2,2011.0,\N,106,cars 2
4,2017,2017,Cars 3,Walt Disney,Adventure,Original Screenplay,Digital Animation,Kids Fiction,175000000.0,4256.0,...,3.835414e+08,cars 3,tt3606752,movie,Cars 3,Cars 3,2017.0,\N,102,cars 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2624,2021,2021,The Little Things,Warner Bros.,Thriller/Suspense,Original Screenplay,Live Action,Contemporary Fiction,30000000.0,2171.0,...,2.963763e+07,the little things,tt10016180,movie,The Little Things,The Little Things,2021.0,\N,128,the little things
2625,2021,2021,Judas and the Black Messiah,Warner Bros.,Drama,Based on Real Life Events,Live Action,Dramatization,26000000.0,1888.0,...,7.030560e+06,judas and the black messiah,tt9784798,movie,Judas and the Black Messiah,Judas and the Black Messiah,2021.0,\N,126,judas and the black messiah
2626,2021,2021,Nomadland,Searchlight Pictures,Drama,Based on Fiction Book/Short Story,Live Action,Contemporary Fiction,5000000.0,0.0,...,2.703251e+07,nomadland,tt9770150,movie,Nomadland,Nomadland,2020.0,\N,107,nomadland
2627,2021,2021,Profile,Focus Features,Thriller/Suspense,Based on Fiction Book/Short Story,Live Action,Contemporary Fiction,2300000.0,2033.0,...,1.790456e+06,profile,tt7826276,movie,Profile,Profile,2018.0,\N,106,profile
2628,2021,2021,Our Friend,Roadside Attractions,Drama,Based on Factual Book/Article,Live Action,Dramatization,10000000.0,543.0,...,7.140950e+05,our friend,tt9608818,movie,Our Friend,Our Friend,2019.0,\N,124,our friend

In [258]:
nb_df[['Released', 'Title', 'DomesticBox Office','Infl. Adj. Dom.Box Office']]

,Released,Title,DomesticBox Office,Infl. Adj. Dom.Box Office
0,2019,Toy Story 4,434038008.0,434038008.0
1,2010,Toy Story 3,415004880.0,481805411.0
2,2013,Monsters University,268488329.0,302503449.0
3,2011,Cars 2,191450875.0,221146280.0
4,2017,Cars 3,152901115.0,156139821.0
...,...,...,...,...
2624,2021,The Little Things,15245157.0,15245157.0
2625,2021,Judas and the Black Messiah,5453633.0,5453633.0
2626,2021,Nomadland,2180000.0,2180000.0
2627,2021,Profile,1744740.0,1744740.0
2628,2021,Our Friend,657351.0,657351.0

In [271]:
mergedmovies_df=imdbmoviesdf.merge(nb_df,left_on='mid',right_on='tconst')

In [ ]:
create actor influence table
movie name, mid, release date, actor name, domesticboxoffice, inflatonadjustedbo

In [272]:
mergedmovies_df.columns

Index(['mid', 'title', 'year', 'rated', 'released', 'runtime', 'genre',
       'director', 'writer', 'actors', 'plot', 'language', 'country', 'awards',
       'poster', 'ratings', 'metascore', 'imdbrating', 'imdbvotes', 'type',
       'dvd', 'boxoffice', 'production', 'website', 'myrating', 'Released',
       'ReleasedWorldwide', 'Title', 'TheatricalDistributor', 'Genre',
       'Source', 'ProductionMethod', 'CreativeType', 'ProductionBudget',
       'Opening WeekendTheaters', 'MaximumTheaters', 'TheatricalEngagements',
       'Opening WeekendRevenue', 'DomesticBox Office',
       'Infl. Adj. Dom.Box Office', 'InternationalBox Office',
       'WorldwideBox Office', 'TitleLower', 'tconst', 'titleType',
       'primaryTitle', 'originalTitle', 'startYear', 'endYear',
       'runtimeMinutes', 'primaryTitleLower'],
      dtype='object')

In [276]:
shortmerged_df = mergedmovies_df[['tconst','title','released','actors','DomesticBox Office','Infl. Adj. Dom.Box Office']]

In [277]:
mergedmovies_df[['tconst','title','released','actors','DomesticBox Office','Infl. Adj. Dom.Box Office']]

,tconst,title,released,actors,DomesticBox Office,Infl. Adj. Dom.Box Office
0,tt1979376,Toy Story 4,21 Jun 2019,"Tom Hanks, Tim Allen, Annie Potts",434038008.0,434038008.0
1,tt0435761,Toy Story 3,18 Jun 2010,"Tom Hanks, Tim Allen, Joan Cusack",415004880.0,481805411.0
2,tt1453405,Monsters University,21 Jun 2013,"Billy Crystal, John Goodman, Steve Buscemi",268488329.0,302503449.0
3,tt1216475,Cars 2,24 Jun 2011,"Owen Wilson, Larry the Cable Guy, Michael Caine",191450875.0,221146280.0
4,tt3606752,Cars 3,16 Jun 2017,"Owen Wilson, Cristela Alonzo, Chris Cooper",152901115.0,156139821.0
...,...,...,...,...,...,...
2621,tt10016180,The Little Things,29 Jan 2021,"Denzel Washington, Rami Malek, Jared Leto",15245157.0,15245157.0
2622,tt9784798,Judas and the Black Messiah,12 Feb 2021,"Daniel Kaluuya, LaKeith Stanfield, Jesse Plemons",5453633.0,5453633.0
2623,tt9770150,Nomadland,19 Feb 2021,"Frances McDormand, David Strathairn, Linda May",2180000.0,2180000.0
2624,tt7826276,Profile,14 May 2021,"Valene Kane, Morgan Watkins, Christine Adams",1744740.0,1744740.0
2625,tt9608818,Our Friend,29 Jan 2021,"Jason Segel, Isabella Kai, Violet McGraw",657351.0,657351.0

In [311]:
shortmerged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2626 entries, 0 to 2625
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tconst                     2626 non-null   object
 1   title                      2626 non-null   object
 2   released                   2626 non-null   object
 3   actors                     2626 non-null   object
 4   DomesticBox Office         2626 non-null   float64
 5   Infl. Adj. Dom.Box Office  2626 non-null   float64
dtypes: float64(2), object(4)
memory usage: 143.6+ KB

In [324]:
def create_actor_influence_df():
    actor_df = pd.DataFrame(columns=['tconst','title','released_date','actor','dombox','adj_dombox'])
    for row in shortmerged_df.iterrows():
        tconst = row[1][0]
        title = row[1][1]
        released_date = row[1][2]
        actors = row[1][3].split(',')
        dombox = row[1][4]
        adj_dombox = row[1][5]
        for actor in actors:
            actor_df = actor_df.append({
            'tconst': tconst,
            'title':  title,
            'released_date' : released_date,
            'actor': actor,
            'dombox': dombox, 
            'adj_dombox':adj_dombox
          }, ignore_index=True)     
    return actor_df

In [325]:
actor_df = create_actor_influence_df()

In [342]:
actor_df.sort_values(by=['actor', 'released_date'],ascending=[True,True],inplace=True)

In [336]:
actor_df.released_date = actor_df.released_date.replace(to_replace='N/A',value='',)

In [340]:

actor_df['released_date'] = pd.to_datetime(actor_df['released_date'])

In [345]:
actor_df.to_excel('./data/actorsinfluence.xls')

In [344]:
pip install xlwt

Collecting xlwtNote: you may need to restart the kernel to use updated packages.

  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

In [346]:
wicar_df = pd.read_csv('./data/actorsinfluence_wicar.csv', encoding='utf-8', index_col=False)

In [347]:
wicar_df

,Unnamed: 0,tconst,title,released_date,actor,dombox,adj_dombox,CRev,WICAR
0,5522,tt1211956,Escape Plan,2013-10-18 00:00:00,50 Cent,25135965,28320064,0,0.000
1,5116,tt6618142,THE MASTER,2017-11-09 00:00:00,A.J. Knapp,16247159,18690037,0,0.000
2,5870,tt2124946,The Interview,NaN,A.J. Merlin,6105175,6756700,0,0.000
3,5257,tt1853739,You're Next,2013-08-23 00:00:00,AJ Bowen,18494006,20837031,0,0.000
4,1401,tt1650062,Super 8,2011-06-10 00:00:00,AJ Michalka,127004179,146703436,0,0.000
...,...,...,...,...,...,...,...,...,...
7754,1512,tt1657507,Colombiana,2011-08-26 00:00:00,Zoe Saldana,36665854,42352991,0,0.000
7755,6608,tt4501244,Why Him?,2016-12-23 00:00:00,Zoey Deutch,60323786,62758824,0,0.000
7756,3475,tt1691916,Before I Fall,2017-03-03 00:00:00,Zoey Deutch,12241072,12500359,12241072,4096117.637
7757,7311,tt2582784,Flower,2018-03-16 00:00:00,Zoey Deutch,328188,329989,12569260,1812933.279
7758,1604,tt8274146,Egy nap,2018-11-08 00:00:00,Zsófia Szamosi,13843771,15991033,0,0.000

In [357]:
wicar_df.loc[wicar_df.WICAR==wicar_df.WICAR.max()]

,Unnamed: 0,tconst,title,released_date,actor,dombox,adj_dombox,CRev,WICAR
3212,3842,tt4154796,Avengers: Endgame,2019-04-26 00:00:00,Mark Ruffalo,858373000,858373002,2228119361,562826444.4

In [354]:
wicar_df[wicar_df['actor'].isna()]

,Unnamed: 0,tconst,title,released_date,actor,dombox,adj_dombox,CRev,WICAR
6880,1800,tt5847226,Total Recall,2010-01-01 00:00:00,NaN,58877969,67754038,0,0.000000e+00
6881,7021,tt1455256,The Wall,2010-04-01 00:00:00,NaN,1803064,1841252,1803064,1.581623e+05
6882,2104,tt13167320,Mama,2010-05-07 00:00:00,NaN,71628180,80702843,73431244,6.945907e+06
6883,6838,tt1869538,Life,2010-09-08 00:00:00,NaN,30234022,30874430,103665266,3.248742e+06
6884,5370,tt12410576,On the Road,2011-10-11 00:00:00,NaN,720828,812144,104386094,3.488275e+05
...,...,...,...,...,...,...,...,...,...
7012,6363,tt13894282,The Boss,NaN,NaN,63077560,66796579,6082089372,1.003998e-04
7013,7168,tt4907156,Widows,NaN,NaN,42402632,42632609,6124492004,6.407968e-05
7014,7336,tt3010370,Joker,NaN,NaN,335451311,335451311,6459943315,5.042059e-04
7015,7518,tt1913131,Serenity,NaN,NaN,8547045,8547045,6468490360,1.284678e-05
7016,7555,tt8679660,Anna,NaN,NaN,7743794,7743794,6476234154,1.163944e-05

In [355]:
wicar_df.dropna(inplace=True)

In [360]:
wicar_df.sort_values(by='WICAR', ascending=False).head(25)

,Unnamed: 0,tconst,title,released_date,actor,dombox,adj_dombox,CRev,WICAR
3212,3842,tt4154796,Avengers: Endgame,2019-04-26 00:00:00,Mark Ruffalo,858373000,858373002,2228119361,562826444.4
7254,3840,tt4154796,Avengers: Endgame,2019-04-26 00:00:00,Robert Downey Jr.,858373000,858373002,3363051381,545726445.9
4374,3850,tt6320628,Spider-Man: Far from Home,2019-07-02 00:00:00,Samuel L. Jackson,390532085,390532085,1647183303,453317787.7
7255,1003,tt6673612,Dolittle,2020-01-17 00:00:00,Robert Downey Jr.,77047065,77047065,3440098446,398575046.9
4479,882,tt6105098,The Lion King,2019-07-19 00:00:00,Seth Rogen,543638043,543638043,814482407,355284328.5
4376,7701,tt8385148,Hitman's Wife's Bodyguard,2021-06-16 00:00:00,Samuel L. Jackson,37942676,37942676,1708342841,342924851.8
2513,885,tt4520988,Frozen II,2019-11-22 00:00:00,Josh Gad,477373578,477373578,701051890,320148418.4
2356,3844,tt2527338,Star Wars: Episode IX - The Rise of Skywalker,2019-12-20 00:00:00,John Boyega,515202542,515202542,1155881768,317929578.8
4373,3847,tt4154664,Captain Marvel,2019-03-08 00:00:00,Samuel L. Jackson,426829839,426829839,1256651218,317776958.3
4375,7714,tt10342730,Spiral: From the Book of Saw,2021-05-14 00:00:00,Samuel L. Jackson,23216862,23216862,1670400165,304982175.8
5774,3852,tt7975244,Jumanji: The Next Level,2019-12-13 00:00:00,Dwayne Johnson,316831246,316831246,1689778078,298688090.6
2770,3854,tt7975244,Jumanji: The Next Level,2019-12-13 00:00:00,Kevin Hart,316831246,316831246,1691516461,292103439.4
5504,3570,tt1825683,Black Panther,2018-02-16 00:00:00,Chadwick Boseman,700059566,703901821,740681160,289693063.4
5657,3843,tt2527338,Star Wars: Episode IX - The Rise of Skywalker,2019-12-20 00:00:00,Daisy Ridley,515202542,515202542,1135383924,278855452.4
3839,2593,tt2488496,Star Wars: Episode VII - The Force Awakens,2015-12-18 00:00:00,Oscar Isaac,936662225,1012399043,936662225,265394334.7
862,3862,tt8946378,Knives Out,2019-11-27 00:00:00,Chris Evans,165364060,165364060,2108031120,264181960.2
2355,3281,tt2527336,Star Wars: Episode VIII - The Last Jedi,2017-12-15 00:00:00,John Boyega,620181382,631702051,640679226,260992718.6
1841,803,tt3606756,Incredibles 2,2018-06-15 00:00:00,Holly Hunter,608581744,611921929,656897035,255358017.7
497,3848,tt4154664,Captain Marvel,2019-03-08 00:00:00,Ben Mendelsohn,426829839,426829839,699453391,249537383.8
861,3841,tt4154796,Avengers: Endgame,2019-04-26 00:00:00,Chris Evans,858373000,858373002,1942667060,247420252.7
3211,3578,tt4154756,Avengers: Infinity War,2018-04-27 00:00:00,Mark Ruffalo,678815482,682541141,1369746361,240897397.2
5573,3579,tt4881806,Jurassic World: Fallen Kingdom,2018-06-22 00:00:00,Chris Pratt,417719760,420012408,1793553598,232506615.9
3084,3572,tt1825683,Black Panther,2018-02-16 00:00:00,Lupita Nyong'o,700059566,703901821,700059566,230654548.7
7253,3576,tt4154756,Avengers: Infinity War,2018-04-27 00:00:00,Robert Downey Jr.,678815482,682541141,2504678381,207498962.6
3840,3845,tt2527338,Star Wars: Episode IX - The Rise of Skywalker,2019-12-20 00:00:00,Oscar Isaac,515202542,515202542,1451864767,204628787.7

In [361]:
#get movies by actor
def get_movies_by_actor(actor):
    return wicar_df.loc[wicar_df.actor == actor]

In [362]:
get_movies_by_actor('Robert Downey Jr.')

,Unnamed: 0,tconst,title,released_date,actor,dombox,adj_dombox,CRev,WICAR
7246,1024,tt1228705,Iron Man 2,2010-05-07 00:00:00,Robert Downey Jr.,312433331,362723616,0,0.000000e+00
7247,4400,tt1231583,Due Date,2010-11-05 00:00:00,Robert Downey Jr.,100539043,116714476,100539043,1.002570e+07
7248,1382,tt1515091,Sherlock Holmes: A Game of Shadows,2011-12-16 00:00:00,Robert Downey Jr.,186848418,215612550,287387461,1.938218e+07
7249,1715,tt0848228,The Avengers,2012-05-04 00:00:00,Robert Downey Jr.,623357910,717331462,910745371,7.910402e+07
7250,2021,tt1300854,Iron Man Three,2013-05-03 00:00:00,Robert Downey Jr.,408992272,460808016,1319737643,7.246577e+07
7251,5841,tt1872194,The Judge,2014-10-10 00:00:00,Robert Downey Jr.,47119388,52827131,1366857031,2.102066e+07
7252,2597,tt2395427,Avengers: Age of Ultron,2015-05-01 00:00:00,Robert Downey Jr.,459005868,498753701,1825862899,1.090046e+08
7253,3576,tt4154756,Avengers: Infinity War,2018-04-27 00:00:00,Robert Downey Jr.,678815482,682541141,2504678381,2.074990e+08
7254,3840,tt4154796,Avengers: Endgame,2019-04-26 00:00:00,Robert Downey Jr.,858373000,858373002,3363051381,5.457264e+08
7255,1003,tt6673612,Dolittle,2020-01-17 00:00:00,Robert Downey Jr.,77047065,77047065,3440098446,3.985750e+08